
#award{
  background-image: url('https://media.istockphoto.com/photos/gold-light-awards-background-picture-id904124342?k=6&m=904124342&s=612x612&w=0&h=avJgCy8OvUyHljixKqt9gWEkREqH1nVwUZUJ4S6OLnI=');
  border: 1px solid black;
  height:290px;
  width: 100%;
  margin: 0.5%;
  
  

}
.design{
  color: wheat;
  display: flex;
  flex-direction: row;
  margin-top: 17%;
  margin-left: 35%;
  font-size: 25px;

}
