
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'welcome' %}" style="font-style: italic; color:rgb(172, 156, 13)" >
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvjoGPizFlsrge1t4N1ED3rZPNRsnGDk6OBX55pe278JVlUOyn&s" width="30" height="27">AWARDS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% if user.is_authenticated %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'welcome'%}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'profile'%}">Create a Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'myProfile'%}">View the Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'profil'%}">Api profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'project'%}">Api project</a>
      </li>
        
      <li class="nav-item">
        <a class="nav-link" href="{%url 'new_project'%}">Create a POST</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/accounts/password/change">Change Password</a>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      {% else %}
      <li>
        <a class='btn btn-default' href="/accounts/login">Login</a>
      </li>
    
    {% endif %}
  </ul>
      
    <form action="{% url 'searchs' %}" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="title">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>      