{%extends 'all-awards/base.html'%}
{% load bootstrap4 %} {% load staticfiles %}
{% block content %}
{{block.super}}
<style>
.profile{
    border-radius: 60%;
    width: 25%;
    height: 30%;
    margin-top: 2%;
}
</style>

  <div class="container" style="padding-left: 3%">

    <div class="pro">
          
            <img src="{{myProfile.profile_picture.url}}" class="profile">
            <span><p class="bio">Bio: {{myProfile.bio}}</p></span>
            <span><p class="contact">Contact: {{myProfile.user_contact}}</p></span>

            
          
    </div> 
    <hr> 
    <div class="imag"> 
      {%for proj in all_projects%}       
       
        <button type="button"  data-toggle="modal" data-target="#{{proj.id}}">
            <img src="{{proj.image.url}}" width="270" height="250" class="img-responsive" style="justify-content: space-between;padding:1%" alt="Image">
        </button>

        {% empty %}
  <div class="row">
    <h2 class="text-center">There No News Items</h2>
  </div>

        {% endfor %}
      </div>
    </div>
    {% endblock %}