{%extends 'all-awards/base.html'%}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        {% block content %} 
        {{ block.super}} 

<div class="container">
       
    <div class="row" id="award">
        <div class="design">
            <span><p>Design-</p></span>
            <span><p>Usability-</p></span>
            <span><p>Content</p></span>
          
        </div>

    </div>
    <div class="row masonry-container">
    {% for pro in project %}
    <div class="item col-md-4" style="margin-top: 5%" >
        <div class="well">
            <div class="thumbnail"style="background-color:white">
                <p>{{pro.title}}</p>
                <img src="{{pro.image.url}}" width="320" height="230" class="img-responsive">
                <p>{{pro.project_description}}</p>
                <a href="{{pro.link}}"><strong>click here to view the project</strong></a>

                <a href="{% url 'rating' id=pro.id %}" >Vote</a>
                <p><strong>design:</strong>{{pro.design}}</p>
                <p><strong>usability:</strong>{{pro.usability}}</p>
                <p><strong>content:</strong>{{pro.content}}</p>
                <p>By <span>{{pro.user.username}}</span><span>{{rating}}</span></p>
            </div>
        </div>
    </div>
    
    {% endfor %}
</div>
</div>

{% endblock %}
</body>
</html>